<div class="fm-login">

    <div class="fm-login-card">

        <div class="fm-login-logo">

            <h1>FlowManager</h1>

            <p>
                Administración del estudio
            </p>

        </div>


        <form id="loginForm">

            <div class="fm-login-group">

                <label for="loginEmail">
                    Correo
                </label>

                <input id="loginEmail" type="email" autocomplete="username" required>

            </div>


            <div class="fm-login-group">

                <label for="loginPassword">
                    Contraseña
                </label>

                <input id="loginPassword" type="password" autocomplete="current-password" required>

            </div>


            <div id="loginError" class="fm-login-error" hidden>
            </div>


            <button type="submit" class="fm-login-button">

                Iniciar sesión

            </button>

        </form>

    </div>

</div>